# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules
.pnp
.pnp.js

# Turborepo
.turbo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build outputs
dist
dist-ssr
build
server/dist
public/dist
storybook-static/

# TypeScript
*.tsbuildinfo

# Next.js
.next
out

# Environment
.env
.env.local
.env.*.local
*.local

# Cache
.cache

# Testing
coverage
.nyc_output

# IDE
.vscode/settings.json
.idea
*.swp
